.home{
    background-image: url("home.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #F7F6F2;
}
.about{
    background-image: url("about.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #F7F6F2;
}
.user{
    background-image: url("user.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #F7F6F2;
}
.aware{
    background-image: url("aware.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #F7F6F2;
}
.shop{
    background-image: url("shop1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #D4CA49;
}
.checkout{
    background-image: url("checkout.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.book{
    background-image: url("book&video.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.table th:hover{
    transform: scale(0.84);
    transition: 0.5s;
}
.table td:hover{
    transform: scale(0.84);
    transition: 0.5s;
}
.t{
    margin-top: 50%;
    width:80%;
}
.t th:hover{
    transform: scale(0.84);
    transition: 0.5s;
}
.f{
    color: black; 
    font-size: 150%; 
    font-weight: bold;
}
.f td:hover{
    transform: scale(0.84);
    transition: 0.5s;
}

